$themePrimary: #004a99;
$themeLighterAlt: #f1f6fb;
$themeLighter: #c8dbef;
$themeLight: #9dbee0;
$themeTertiary: #4e86c2;
$themeSecondary: #145aa5;
$themeDarkAlt: #00438a;
$themeDark: #003874;
$themeDarker: #002956;
$neutralLighterAlt: #f8f8f8;
$neutralLighter: #f4f4f4;
$neutralLight: #eaeaea;
$neutralQuaternaryAlt: #dadada;
$neutralQuaternary: #d0d0d0;
$neutralTertiaryAlt: #c8c8c8;
$neutralTertiary: #595959;
$neutralSecondary: #373737;
$neutralPrimaryAlt: #2f2f2f;
$neutralPrimary: #000000;
$neutralDark: #151515;
$black: #0b0b0b;
$white: #ffffff;
