// @import "../../node_modules/carbon-components/scss/globals/scss/style";

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--typography: true;
$css--plex: true;

//// _theme-tokens.scss
// White theme tokens
$interactive-01: #014a99 !default;
$interactive-02: #c1002a !default;
$interactive-03: #014a99 !default;
$interactive-04: #014a99 !default;
$ui-background: #ffffff !default;
$ui-01: #f3f3f3 !default;
$ui-02: #ffffff !default;
$ui-03: #dcdcdc !default;
$ui-04: #c1002a !default;
$ui-05: #c1002a !default;
$text-01: #c1002a !default;
$text-02: #565656 !default;
$text-03: #c1002a !default;
$text-04: #ffffff !default;
$icon-01: #c1002a !default;
$icon-02: #565656 !default;
$icon-03: #ffffff !default;
$link-01: #014a99 !default;
$field-01: #f3f3f3 !default;
$field-02: #ffffff !default;
$inverse-01: #ffffff !default;
$inverse-02: #3d3d3d !default;
$support-01: #da1e28 !default;
$support-02: #24a148 !default;
$support-03: #fdd13a !default;
$support-04: #054ada !default;
$overlay-01: rgba(23, 23, 23, 0.5) !default;
$focus: #014a99 !default;
$hover-primary: #0353e9 !default;
$active-primary: #0530ad !default;
$hover-primary-text: #054ada !default;
$hover-secondary: #4c4c4c !default;
$active-secondary: #6f6f6f !default;
$hover-tertiary: #0353e9 !default;
$active-tertiary: #0530ad !default;
$hover-ui: #e5e5e5 !default;
$active-ui: #bebebe !default;
$selected-ui: #dcdcdc !default;
$hover-selected-ui: #cacaca !default;
$hover-danger: #ba1b23 !default;
$active-danger: #750e13 !default;
$hover-row: #e5e5e5 !default;
$visited-link: #8a3ffc !default;
$disabled-01: #f3f3f3 !default;
$disabled-02: #bebebe !default;
$disabled-03: #c1002a !default;
$highlight: #c9deff !default;
$brand-01: #014a99 !default;
$brand-02: #c1002a !default;
$brand-03: #014a99 !default;
$active-01: #bebebe !default;
$hover-field: #e5e5e5 !default;

@mixin ntmax {
  @media (min-width: 99em) {
    @content;
  }
}

@import "../../node_modules/carbon-components/scss/globals/scss/theme";
@import "../../node_modules/carbon-components/scss/globals/scss/feature-flags";
@import "../../node_modules/carbon-components/scss/globals/scss/vars";
@import "../../node_modules/carbon-components/scss/globals/scss/colors";
@import "../../node_modules/carbon-components/scss/globals/scss/mixins";
@import "../../node_modules/carbon-components/scss/globals/scss/layout";
@import "../../node_modules/carbon-components/scss/globals/scss/layer";
@import "../../node_modules/carbon-components/scss/globals/scss/spacing";
@import "../../node_modules/carbon-components/scss/globals/scss/typography";
@import "../../node_modules/carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/import-once/import-once";
@import "../../node_modules/carbon-components/scss/globals/scss/css--reset";
@import "../../node_modules/carbon-components/scss/globals/scss/css--font-face";
@import "../../node_modules/carbon-components/scss/globals/grid/grid";
@import "../../node_modules/carbon-components/scss/components/ui-shell/ui-shell";
@import "../../node_modules/carbon-components/scss/components/tile/tile";
@import "../../node_modules/carbon-components/scss/components/button/button";
@import "../../node_modules/carbon-components/scss/components/inline-loading/inline-loading";
@import "../../node_modules/carbon-components/scss/components/search/search";
@import "../../node_modules/carbon-components/scss/components/pagination-nav/pagination-nav";

.page-logo {
  height: 2.5em;
  width: auto;
}
.menu-bar {
  padding-top: 1em;
}

main {
  margin: 4em 0;
}
// section {
//   @extend .bx--grid;
// }
.container {
  -webkit-transition: 0.11s ease;
  transition: 0.11s ease;
  position: relative;

  & .banner-content {
    padding-top: 0;
    // padding-bottom: 0;
    background: none;
    height: 300px;
  }

  & .bx--grid {
    margin-left: auto;
    margin-right: auto;
  }
}

.bx-img {
  width: 100%;
}
@media (min-width: 66em) {
  .container .bx--grid {
    padding-left: calc(12.5% + 1em);
    padding-right: calc(12.5% + 1em);
  }
}
@media (min-width: 99em) {
  .container .bx--grid {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.container .bx--col-no-gutter {
  padding: 0;
}
.bx--header {
  @extend .bx--grid;
  height: 4em;
}

.haupt-banner {
  // @extend .bx--grid;
  height: 300px;
  color: $white-0;
}

.inner-banner {
  @extend .bx--grid;
  height: 200px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.news-box {
  margin: $spacing-04 0;
}
.news-img {
  // border: 1px solid $interactive-01;
}
.news-content {
  width: 70%;
}
h2 {
  margin-bottom: $spacing-04;
}
h1 {
  margin-bottom: $spacing-04;
}
h4 {
  margin-bottom: $spacing-04;
}
.main-content-gang {
  @extend .bx--col-lg-8;
  margin-right: 0;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  &.left {
    margin-left: 0;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
.main-center-gang {
  @extend .bx--col-lg-8;
  margin-right: auto;
  margin-left: auto;
}
.full-width-gang {
  @extend .bx--row;
  margin-left: auto;
  margin-right: auto;
}
.left-content-gang {
  @extend .bx--col-lg-4;
  margin-left: 0;
  margin-right: auto;
}
.right-content-gang {
  @extend .bx--col-lg-4;
  margin-right: 0;
  margin-left: auto;
  padding-left: 0;
}
.mini-left-content-gang {
  @extend .bx--col-lg-3;
  margin-left: 0;
  margin-right: auto;
  // padding: 0;
}
.stopTitleSection {
  display: flex;
  flex-wrap: wrap;
}

article {
  padding-bottom: $layout-02;
}
section {
  padding-top: $layout-04;
}
.content-image {
  text-align: center;
  margin-top: 1.5em;
  & img {
    width: auto;
    max-height: 300px;
  }
  & em {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    font-size: 80%;
  }
}
p[isfor="stopText"] {
  margin-bottom: 1em;
}
.menu-button {
  @extend .bx--header__action;
  width: 4em;
  height: 4em;
}
.nav-panel {
  @extend .bx--header-panel;
  top: 4em;
  & li:first-of-type {
    margin-top: 1em;
  }
}
.news-content-tile {
  padding: 1em 0;
  // border: 1px solid $interactive-01;
}

$pLineHeight: 1.5em;
$pLineCount: 1;
$bgColor: $ui-01;

.news-content-text {
  height: $pLineHeight * 4;
  margin: 0 0 $spacing-04 0;
  padding: 0.5em 1em;
}

.news-content-title {
  height: $pLineHeight * 2;
  padding: 0 1em;
}
.newsLink {
  @extend h5;
  color: $interactive-01;
  text-decoration: none;
}
.newsDate {
  padding: 0.5em 1em;
  font-size: 90%;
}
.tripDates {
  font-size: 80%;
  opacity: 0.8;
}
// .news-summary {
//   @include multiLineEllipsis($pLineHeight: 1.5em, $pLineCount: 3);
// }

// Overwrite for header and panel
.bx--header {
  background-color: $brand-01;
  border-bottom: $interactive-02;
}

.bx--header__name {
  color: $ui-02;
}
.bx--header__menu-trigger {
  fill: $ui-02;
  &:hover {
    background-color: $interactive-02;
  }
  &:focus {
    border: white;
  }
  &:active {
    background-color: $interactive-02;
  }
}
.bx--header__nav::before {
  border: $interactive-02;
  background-color: $ui-02;
}

a.bx--header__menu-item[role="menuitem"] {
  color: $ui-02;
  & svg {
    color: $ui-02;
  }
  &:hover {
    background-color: $hover-primary;
    color: $ui-02;
  }
  &:focus {
    border: $ui-02;
  }
  &:active {
    background-color: $hover-primary;
  }
}
.bx--header__action {
  fill: $ui-02;
  background-color: $ui-05;
  &:hover {
    background-color: $ui-05;
    fill: $ui-02;
  }
  &:active {
    background-color: $ui-05;
    fill: $ui-02;
  }
}

.bx--header-panel {
  background-color: $ui-01;
  border-left: $brand-02;
}
.bx--header__action--active {
  border-left: $ui-02;
  border-right: $ui-02;
}

.bx--switcher__item {
  color: $ui-02;
  &:hover {
    background-color: $brand-01;
    color: $ui-02;
  }
  &:focus {
    border: none;
  }
  &:active {
    background-color: $hover-primary;
  }
}
.bx--switcher__item-link {
  color: $brand-01;
  &:hover:not(.bx--switcher__item-link--selected) {
    background-color: $brand-01;
    color: $ui-02;
  }
  &:focus {
    border: none;
  }
  &:active {
    background-color: $hover-primary;
  }
}

// .bx--switcher__item:focus	border	White
// .bx--switcher__item:active	background color	Gray 80
// .bx--switcher__item:active	text color	Gray 10
// .bx--switcher__item-link--selected	background color	Gray 90
// .bx--switcher__item-link--selected	text color	Gray 10
